# Expo doesn't play nice with pnpm by default. 
# The symbolic links of pnpm break the rules of Expo monorepos.
# @link https://docs.expo.dev/guides/monorepos/#common-issues
# node-linker=hoisted

# Prevent pnpm from adding the "workspace:"" prefix to local
# packages as it causes issues with manypkg
# @link https://pnpm.io/npmrc#prefer-workspace-packages
prefer-workspace-packages=true # Prefer workspace/local packages. Only works if save-workspace-protocol is false.
link-workspace-packages=true # Link workspace packages instead of downloading them.
save-workspace-protocol=false # Tells pnpm how to format dependencies. If you encounter issues removing packages, try setting this to true temporarily.

# @link https://pnpm.io/npmrc#public-hoist-pattern
# @link https://nextui.org/docs/guide/installation#setup-pnpm-optional
public-hoist-pattern[]=*@nextui-org/*
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*